@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
.bg-google {
    background-image: url('../public/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px;
}

h4 {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 16px;
}

h4:hover {
    text-decoration-line:underline;
}

#dots-menu {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    z-index: 1;
}

#dots-menu:hover {
    box-shadow: 1px 1px 16px 1px rgba(255, 255, 255, 0.918);
}

#profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: ivory;
}

#profile-icon:hover {
    box-shadow: 1px 1px 16px 1px rgba(255, 255, 255, 0.918);
}

/*Search end Logo*/
.logo-search {
    display: grid;
    justify-content: center !important;
    text-align: center;
    margin-top: 100px;
}

#google-logo {
    width: 20vw;
    display: grid;
    justify-self: center;
}

.search {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    width: 40vw;
    height: 45px;
    border-radius: 30px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p, .bi-search {
    color: rgb(88, 88, 88);
    margin-right: 16px;
}

p {
    padding-right: 150px;
}

.bi-search {
    justify-content: left;
    padding-left: 20px;
    font-size: 12px;
}

.bi-mic-fill {
    justify-content: right !important;
    color: rgb(27, 140, 184) !important;
}


/*Direitos autorais*/
#fixo1 {
    color: rgb(223, 219, 219);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding-top: 160px;
    font-weight: 600;
    
}

span {
    text-decoration-line:underline;
}

#autoria {
    font-size: 13px !important;
}



/*Favoritos*/
.fav-icons {
    border-width: 0;
    background-color: aliceblue;
    padding: 10px 10px; 
    border-radius: 30px;
    border-image: 0;
}

.fav-icons-bouth {
    margin-top: 40px !important;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    max-width: 600px;
    justify-items: center !important;
}

.fav-icons:hover {
    box-shadow: 1px 1px 50px 1px rgb(255, 255, 255);
}

.fav-icons-2 {
    margin: 0 auto;
    max-width: 500px;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
}

.add-fav {
}

.addfav {
    align-content: space-between !important;
}

.bi-plus {
    font-size: 25px;
    font-weight: 900;
}

small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: aliceblue;
}